.loginPage {
  position: absolute;
  z-index: 100;
  /* min-height: calc(100vh - 100px); */
  padding: 2rem 5%;
  margin-top: -100px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececf0;
}

.loginPage .login {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #ececf0;
}

.loginPage .login h1 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 2rem;
}
/* .loginPage .login .toggle-form {
  color: red;
} */

.loginPage .login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.loginPage .login form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loginPage .login label {
  font-weight: 550;
  color: #777;
}

.loginPage .login input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 2px solid #ececf0;
  border-radius: 0.25rem;
}
/* .loginPage .login input:focus {
  border-color: #007bff;
  outline: none;
} */
.loginPage .formSubmit {
  width: 100%;
  background-color: #24a0ed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  /* transition: background-color 0.3s; */
}
.loginPage .formSubmit h3 {
  color: white;
}
/* .loginPage .formSubmit:hover {
  background-color: #0056b3;
} */
.loginPage .login .toggle-form {
  margin-top: 1rem;
}
.loginPage .login .toggle-form p button u {
  color: blue;
}

.loginPage .login .error {
  color: #ff4d4f;
  font-size: 0.9rem;
  text-align: center;
}

.loginPage .login .success {
  color: #28a745;
  font-size: 0.9rem;
  text-align: center;
}
