.innloggetContainer {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffaf5;
}
.innloggetContainer .cartThanksContainer {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  gap: 1rem;
}
.innloggetContainer .cartThanksContainer .cartThanks {
  font-weight: 400;
}
