footer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 0 5%;
}
footer h1,
footer p,
footer li,
footer i,
footer button {
  color: white;
}
.footer-main {
  border-bottom: 1px solid grey;
  padding: 2rem 0;
}
.footer-main .footer-content {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 3fr;
  gap: 4rem;
}
.footer-main .footer-content .footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-main h1 {
  font-weight: 300;
}
.footer-main ul {
  display: flex;
  flex-direction: column;
  gap: 0.25p;
}
.footer-main li {
  list-style-type: none;
}
.footer-main .icons-list {
  flex-direction: row;
  gap: 1rem;
}
.footer-main .icons-list i {
  font-size: 1.5rem;
}
.footer-main .register-container {
  display: flex;
  flex-direction: row;
}
.footer-main .register-container input {
  padding: 0.5rem;
}
.footer-main .register-container button {
  padding: 0.5rem 1rem;
  background-color: rgb(220, 72, 72);
  font-size: 0.75rem;
  font-weight: bold;
}
.footer-footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
@media screen and (max-width: 900px) {
  .footer-main .footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-main .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
