.navbar {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid #ececf0;
}

/* Menylenker */
.navLinksContainer {
  display: block;
}

.navLinksContainer ul {
  display: flex;
  gap: 2rem;
}
.navLinksContainer ul li {
  list-style-type: none;
}

.searchLoginCart {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Søkseksjon */
.searchContainer {
  position: relative;
}
.searchInputSection {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.searchInputSection input {
  background-color: #eee;
  border: none;
}
.searchInputSection input:focus {
  outline: none;
  width: 100%;
}
.searchContainer .searchResults {
  background-color: white;
  position: absolute;
  margin-top: 50px;
  top: 50%;
  right: 0;
  padding: 1rem;
  z-index: 20;
  width: fit-content;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border-radius: 0.25rem;
  border: 2px solid #ececf0;
}
.searchContainer .searchResults .searchResult {
  display: flex;
  gap: 1rem;
}
.searchContainer .searchResults .searchResult .imageContainer img {
  height: 2rem;
  border-radius: 0.125rem;
}
.searchContainer .searchResults ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
}
.searchContainer .searchResults ul .link {
  display: flex;
  align-items: center;
}
.searchContainer .searchResults .searchResult .nameContainer {
  text-wrap: nowrap;
}

/* Vise/skjule ulike innloggingsknappvarianter basert på skjermstørrelse */
.loginContainer .login-wide {
  display: block;
}
.loginContainer .login-narrow {
  display: none;
}

/* Handlevognseksjon */
.cartSection {
  display: flex;
  gap: 0.5rem;
  position: relative;
}
.cartSection .cartText-wide {
  display: block;
}
.cartSection .cartIconContainer {
  position: relative;
}
.cartSection .cartIconCircle {
  background-color: rgb(255, 200, 0);
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  position: absolute;
  top: -0.125rem;
  right: -0.5rem;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartSection .cartPreview {
  padding: 1rem;
  background-color: white;
  position: absolute;
  margin-top: 50px;
  top: 50%;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  width: fit-content;
  border-radius: 0.25rem;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border: 2px solid #ececf0;
}
.cartSection .cartPreview .previewProductCard {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cartSection .cartPreview .previewProductCard .cardImage {
  height: 2rem;
  width: 2rem;
}
.cartSection .cartPreview .previewProductCard .cardImage img {
  height: 100%;
  border-radius: 0.125rem;
}
.cartSection .cartPreview .previewProductCard .cardText {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 250px;
  font-size: 0.75rem;
}
.cartSection .cartPreview .previewProductCard .cartAmount {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
.cartSection .toCartLink {
  display: flex;
}
.cartSection .toCartLink .toCartButton {
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 0.5rem;
  text-wrap: nowrap;
  width: 100%;
}

/* "Burger-meny */
.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  display: none;
  z-index: 10;
}
.burger div {
  height: 3px;
  width: 25px;
  background-color: #333;
  transition: all 0.3s ease;
}
.darkScreen {
  display: none;
}

/* "Styling" for smalere skjermstørrelser */
@media screen and (max-width: 900px) {
  .navLinksContainer {
    position: fixed;
    /* top: 100px; */
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    min-width: fit-content;
    visibility: hidden;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.5s ease-out;
  }
  .navLinksContainer ul {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    height: 100%;
    font-size: 2rem;
  }
  .cartSection .cartText-wide {
    display: none;
  }
  .burger {
    display: flex;
  }
  .darkScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .loginContainer .login-wide {
    display: none;
  }
  .loginContainer .login-narrow {
    display: block;
  }

  /* Vise/skjule ulike logo-varianter basert på skjermstørrelse */
  .navbar .logo .logo-wide {
    display: none;
  }
  .navbar .logo .logo-narrow {
    display: block;
    margin-right: 1rem;
  }
}

/* Søkefelt aktiv/inaktiv */
.search-inactive {
  padding: 0;
  border-radius: 0;
  gap: 0;
  justify-content: center;
  width: 1rem;
  background-color: transparent;
}
.search-inactive input {
  display: none;
}

.navList-toggle {
  visibility: visible;
  transform: translateX(0%);
}
