.adminProducts {
  position: relative;
  display: flex;
  flex-direction: column;
}
.adminProducts-crop {
  overflow: hidden;
}
.adminProducts main {
  padding: 1rem;

  display: flex;
  flex-direction: column;
}
.adminProducts .actions-container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminProducts .text-input-container {
  height: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 2rem;
}
.adminProducts .text-input-container input {
  height: fit-content;
  width: fit-content;
  border: none;
}
.adminProducts .text-input-container input:focus {
  outline: none;
}
.adminProducts .actions-container button {
  background-color: green;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}
.adminProducts .list-header {
  background-color: #333;
}
.adminProducts .list-header span {
  color: white;
  font-weight: bold;
}
.adminProducts ul .list-header {
  grid-template-columns: 1fr 1fr 6fr 2fr 2fr 1fr;
}
.adminProducts ul li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 2fr 2fr 1fr;
  padding: 1rem 0;
  align-items: center;
}
.adminProducts ul li span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.adminProducts ul .dark {
  background-color: rgb(239, 239, 239);
}
.adminProducts .list-image {
  height: 3rem;
  width: 3rem;
}
.adminProducts .edit-button {
  color: blue;
}
.justify-center {
  display: flex;
  justify-content: center;
}

/* Add product section */
.adminProducts .add-product-section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  background-color: #33333366;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.adminProducts .add-product {
  min-width: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.adminProducts .add-product .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
.adminProducts .x-button {
  font-weight: bold;
  color: #666;
  align-self: flex-end;
}
.adminProducts .add-product form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.adminProducts .add-product form input {
  padding: 0.25rem;
}
.adminProducts .add-product form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 0.25rem;
  background-color: grey;
  color: white;
}
.adminProducts .add-product form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.adminProducts .add-product .submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #6772e5;
  color: white;
}

/* Update product section */
.adminProducts .update-product-section {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 10;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  background-color: #33333366;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.adminProducts .update-product {
  min-width: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.adminProducts .update-product .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.adminProducts .update-product .header h1 {
  font-size: 1.25rem;
}
.adminProducts .x-button {
  font-weight: bold;
  color: #666;
  align-self: flex-end;
}
.adminProducts .update-product form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.adminProducts .update-product form input {
  padding: 0.25rem;
}
.adminProducts .update-product form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 0.25rem;
  background-color: grey;
  color: white;
}
.adminProducts .update-product form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.adminProducts .update-product .buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.adminProducts .update-product .submit-button,
.adminProducts .update-product .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #6772e5;
  color: white;
}
.adminProducts .update-product .submit-button {
  background-color: #6772e5;
}
.adminProducts .update-product .delete-button {
  background-color: red;
}
