.home {
  background-color: #fffaf5;
  color: #333;
}

/* Forsidebildeseksjon */
.home .hero {
  height: calc(100vh - 100px);
  background-image: url(../../../public/hero-hammock.webp);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.home .heroContent {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.home .hero .heroHeader {
  font-size: 6rem;
  line-height: 6rem;
}
.home .hero .heroParagraph {
  font-size: 1rem;
}
.home .hero .heroButton {
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #333;
  padding: 1rem 2rem;
  width: fit-content;
  color: white;
  font-size: 0.75rem;
  margin-top: 2rem;
  cursor: pointer;
}
.home .homeGridHeader {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

/* Seksjon for populære produkter, nyheter og tilbud */
.home .grids {
  padding: 6rem 10%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

/* "Styling" for smalere skjermstørrelser */
@media screen and (max-width: 800px) {
  .home .hero .heroHeader {
    font-size: 4rem;
    line-height: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .home .hero {
    padding: 2rem;
    justify-content: flex-start;
    align-items: center;
  }
  .home .heroContent {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .home .hero .heroHeader {
    font-size: 2rem;
    line-height: 3rem;
  }
  .home .grids {
    padding: 6rem 5%;
  }
}
